.category {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &__title {
        font-size: 28px;
        font-weight: 700;
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
    }

    &__item {
        width: 300px;
        border-radius: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        img {
            width: 85px;
            height: 74px;
        }

        p {
            color: $color-text-category;
            font-size: 32px;
            font-weight: 700;
        }

        &--html {
            background-color: $color-vermilion;
        }

        &--js {
            background-color: $color-aureolin;
        }

        &--css {
            background-color: $color-celestial-blue;
        }

        &--react {
            background-color: $color-gunmetal;
        }

        &--vue {
            background-color: $color-mantis;
        }

        &--bootstrap {
            background-color: $color-eminence;
        }
    }
}