.category {
    @include flexbox(column, null, null);
    gap: 30px;

    &__title {
        @include text-title(28px, 700);
    }

    &__text {
        font-size: 20px;
        font-weight: 400;
    }

    &__item {
        width: 300px;
        border-radius: 10px;
        @include flexbox(row, space-around, center);

        img {
            width: 85px;
            height: 74px;
        }

        p {
            color: $color-text-category;
            @include text-title(32px, 700);
        }

        $language: "html", "js", "css", "react", "vue", "bootstrap";
        $color: $color-vermilion, $color-aureolin, $color-celestial-blue, 
        $color-gunmetal, $color-mantis, $color-eminence;

        @each $lan, $col in zip($language, $color){
            &--#{$lan}{
                background-color: $col;
            }
        }

    }
}