.suscription__input {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 1em;
    font-family: $font-family;
    margin: 10px 0;
}

.input__field {
    width: 100%;
    height: 40px;
    border: 2px solid $color-white-smoke;
    border-radius: 10px;
    font-size: 1em;
    font-family: $font-family;
    margin: 10px 0;
}

.input__check {
    width: 20px;
    height: 20px;
    cursor: pointer;
}