.navbar{
  li{
    display: inline-block;
    list-style: none;
    padding: 0 1em;

    a{
        text-decoration: none;
        color: $color-texts;
        font-size: 20px;
        transition: color 0.5s ease;

        &:hover{
            color: $color-Asparagus;
        }
    }
  }
}