.popular{
    width: 705px;

    &__title{
        font-size: 28px;
        font-weight: 700;
    }
    
    &__articles{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
}