.post__image {
    width: 298px;
    height: 200px;
    border-radius: 20px;

    &--side {
        width: 190px;
        height: auto;
        border-radius: 20px;
    }

    &--new {
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: 20px;
    }
}

.post__title {
    font-size: 20px;
    font-weight: 700;

    &--new {
        font-size: 24px;
        font-weight: 700;
    }
}