.post__image {
    width: 298px;
    height: 200px;
    border-radius: $image-border-radius;

    &--side {
        width: 190px;
        height: auto;
        border-radius: $image-border-radius;
    }

    &--new {
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: $image-border-radius;
    }
}

.post__title {
    @include text-title(20px, 700);

    &--new {
        @include text-title(24px, 700);
    }
}