.publication{
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 2em 0;

    &__title{
        font-size: 28px;
        font-weight: 700;
    }
    
    &__information{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        gap: 3em;
    }
    
    &__post{
        background-color: $color-white-smoke;
        border-radius: 20px;
        padding: 2em;
        display: flex;
        flex-direction: column;
        gap: 2em;

        img{
            width: 100%;
            max-width: 600px;
            height: auto;
            border-radius: 20px;
            align-self: center;
        }
    }
}