.publication{
    @include flexbox(column, null, null);
    gap: 1em;
    padding: 2em 0;

    &__title{
        @include text-title(28px, 700);
    }
    
    &__information{
        @include flexbox(row, null, center, wrap);
        gap: 3em;
    }
    
    &__post{
        background-color: $color-white-smoke;
        border-radius: 20px;
        padding: 2em;
        @include flexbox(column, null, null);
        gap: 2em;

        img{
            width: 100%;
            max-width: 600px;
            height: auto;
            border-radius: $image-border-radius;
            align-self: center;
        }
    }
}