.side__articles {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.side__post {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}