$color-black: #000000;
$color-vermilion: #E93E30;
$color-aureolin: #F7E018;
$color-celestial-blue: #299ed5;
$color-gunmetal: #292C33;
$color-mantis: #67C770;
$color-eminence: #563D7C;
$color-texts: #171717;
$color-text-category: #FFFFFF;

$font-family: "Poppins", san-serif;