$color-black: #000000;
$color-light: #FFFFFF;
$color-white-smoke: #F5F5F5;
$color-vermilion: #E93E30;
$color-aureolin: #F7E018;
$color-celestial-blue: #299ed5;
$color-gunmetal: #292C33;
$color-mantis: #67C770;
$color-eminence: #563D7C;
$color-Asparagus: #729e2e;
$color-texts: #171717;
$color-text-category: $color-light;
$color-line-separator: #BDBDBD;


$font-family: "Poppins", san-serif;