.container{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 1rem;
}

$break-point: 475px, 640px, 768px, 1024px, 1280px;

@each $bp in $break-point{
    @media(min-width: #{$bp}){
        .container{
            max-width: #{$bp};
        }
    }
}