.register {
    @include flexbox(row, center);

    &__section{
        width: 100%;
        max-width: 500px;
        text-align: center;
        @include flexbox(column, null, null);
        gap: 0.5em;
    }
}