.related__title{
    font-size: 28px;
    font-weight: 700;
    padding: 1em 0;
}

.related__articles{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em 0;
}