$padding-vertical: 1em 0;

.related__title{
    @include text-title(28px, 700);
    padding: $padding-vertical;
}

.related__articles{
    @include flexbox(row, space-between, wrap);
    padding: $padding-vertical;
}