.suscription {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-color: $color-Asparagus;
    border-radius: 20px;

    &__form {
        width: 500px;
        padding: 1em 0;
    }
    
    &__form--button {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }
    
    &__title {
        color: $color-light;
        font-size: 32px;
        font-weight: 500;
    }
}