.suscription {
    @include flexbox(row, space-evenly, wrap);
    background-color: $color-Asparagus;
    border-radius: 20px;

    &__form {
        width: 500px;
        padding: 1em 0;
    }
    
    &__form--button {
        @include flexbox(column, flex-end, center);
    }
    
    &__title {
        @include text-title(32px, 500);
        color: $color-light;
    }
}